* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

.contenedor {
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
}

.fila {
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
    /* 
    Las columnas dentro de una fila están flotando a la izquierda, y por lo tanto
    se toman fuera del flujo de la página, y otros
    elementos serán colocados si no fueran de las columnas.
    Para evitar esto, vamos a añadir un estilo que despeja el flujo.
    */
    clear: both;
    display: table;
}


[class*="col-"] {
    float: left;
    border: 1px solid black;
    padding: 20px;
}

.col-12 {
    width: 100%;
    background: red;
}

.col-6 {
    width: 50%;
    background: green;
}

.col-4 {
    width: 33.33333333%;
    background: blueviolet;
}

.col-3{
    width: 25%;
    background: salmon;
}

.col-9{
    width: 75%;
    background: orange;
}
